@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Roboto:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.nav-container{
    max-width: 1440px;
    margin: 40px auto;
}
.gamer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gamer-logo{
    display: flex;
    align-items: center;
    width: 50%;
}
.gamer-logo img{
    width: 40px;
    height: 25px;
    margin-right: 15px;
}
.gamer-logo h3{
    font-size: 25px;
    font-weight: 700;
}
.g-color{
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-height: 70px;
}
.menu-container a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.menu-container .nav-back{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 27px;
}


.banner-parent{
    display: flex;
}


.banner-description{
    width: 45%;
    background-image: url("../images/Group\ 14.png");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-description h3{
    color: #0B0223;
    font-size: 35px;
    font-weight: 600;
}
.banner-description h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 800;
}
.banner-description p{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
}
.button-container{
    margin-top: 30px;
}
.banner-description .first-btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    padding: 18px 35px;
}
.banner-description .second-btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 18px 35px;
    margin-left: 10px;
}

.banner-img-container{
    width: 55%;
}

.online-games-container{
    max-width: 1440px;
    margin: 120px auto;
}

.online-img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}




/* .online-child-container:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
} */




.online-games-container h3{
    color: #0B0223;
    font-size: 26px;
    font-weight: 700;
}
.online-games-container .funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: 700;
}
.online-games-container .first-paragraph{
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.online-games-container .first-paragraph,h3{
    text-align: center;
}
.online-games-container .second-paragraph{
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
}














@media screen and (max-width:576px) {
        .gamer-container, .menu-container{
            flex-direction: column;
        }
        .gamer-logo{
            justify-content: center;
        }
        .menu-container{
            height: 200px;
            width: 100%;
            justify-content: space-around;
        }
        .banner-parent{
            flex-direction: column-reverse;
        }
        .banner-img-container img{
            width: 100%;
        }
        .banner-img-container{
            width: 80%;
            margin: 0 auto;
        }
        .banner-description{
            width: 96%;
            margin: 25px auto 0px;
            background-size: cover;
            background-position:center;
        }
        .online-img-container{
            grid-template-columns: 1fr;
        }
        .online-child-container{
            margin: auto;
        }
        .second-paragraph{
            text-align: center;
        }
        .online-child-container img{
            width: 100%;
        }
        #second-img{
            width: 75%;
        }
}



@media screen and (min-width:576px) and (max-width:992px) {
    .gamer-container, .menu-container{
        flex-direction: column;
    }
    .gamer-logo{
        justify-content: center;
    }
    .menu-container{
        height: 200px;
        width: 100%;
        justify-content: space-around;
    }
    .online-img-container{
        grid-template-columns: repeat(2,1fr);
    }
    .online-child-container{
        margin: auto;
    }
    .second-paragraph{
        text-align: center;
    }
    #second-img{
        padding-bottom: 16px;
    }
    #fourth-img{
        padding-top: 16px;
    }
    .banner-parent{
        flex-direction: column-reverse;
    }
    .banner-img-container img{
        width: 100%;
    }
    .banner-img-container{
        width: 80%;
        margin: 0 auto;
    }
    .banner-description{
        width: 96%;
        margin: 25px auto 0px;
        background-size: cover;
    }
}