@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Roboto:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.nav-container{
    max-width: 1440px;
    margin: 40px auto;
}
.gamer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gamer-logo{
    display: flex;
    align-items: center;
    width: 50%;
}
.gamer-logo img{
    width: 40px;
    height: 25px;
    margin-right: 15px;
}
.gamer-logo h3{
    font-size: 25px;
    font-weight: 700;
    color:#0B0223;
}
.g-color{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-height: 70px;
}
.menu-container a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.menu-container .nav-back{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 27px;
}


.banner-parent{
    display: flex;
}


.banner-description{
    width: 45%;
    background-image: url("../images/Group\ 14.png");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-description h3{
    color: #0B0223;
    font-size: 35px;
    font-weight: 600;
}
.banner-description h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 800;
}
.banner-description p{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
}
.button-container{
    margin-top: 30px;
}
.banner-description .first-btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    padding: 18px 35px;
}
.banner-description .second-btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 18px 35px;
    margin-left: 10px;
}

.banner-img-container{
    width: 55%;
}

.online-games-container{
    max-width: 1440px;
    margin: 120px auto;
}

.online-img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


.online-games-container h3{
    color: #0B0223;
    font-size: 26px;
    font-weight: 700;
}
.online-games-container .funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: 700;
}
.online-games-container .first-paragraph{
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.online-games-container .first-paragraph,h3{
    text-align: center;
}
.online-games-container .second-paragraph{
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
}
.playing-game-container{
    max-width: 1440px;
    margin: 120px auto;
}
.playing-game-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playing-game-img{
        width: 65%;
}
.playing-game-img .first-img{
    width: 70%;
}
.playing-game-img .third-img{
    width: 35%;
    border-radius: 8px;
    border: 10px solid white;
    position: relative;
    left: 520px;
    bottom: 235px;
}


.playing-game-description{
    width: 35%;
    min-height: 600px;
}
.playing-game-description h3,p{
    text-align:left;
}


.playing-game-description .third-heading{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.playing-game-description .third-paragraph{
    color: #534C64;
    font-size: 20px;
    font-weight: 400;
}
.playing-game-description .funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 700;
}
.fourth-heading{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}
.game-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.game-parent-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0px auto;
    min-height: 400px;
    align-items: center;
    justify-content: center;
}
.game-img-container{
    display: flex;
    border-radius: 50px;
    background: #FFF;
    justify-content: space-between;
    padding-right:35px;
    gap: 16px;
    align-items: center;
    border:none;
}
.game-img-container img{
    height: 60px;
    width: 60px;
}
.footer-container{
    background-color: #0B0223;
    display: flex;
    align-items: center;
}
.anchor-container a{
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}
.anchor-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 30px auto;
}
.main-footer-container{
    min-height: 400px;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;

}
.another-anchor-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
     width: 50%;
    margin: 30px auto;
}
.another-anchor-container a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}
.another-anchor-containerr{
    color: rgba(255, 255, 255, 0.60);
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.icons{
    display: flex;
    width: 30%;
    margin: 30px auto;
    justify-content: space-around;
    font-size: 25px;
}
.fourth-heading:hover{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-img-container:hover{
    border:1px solid #FF42A5;
}
.logo img {
    display: flex;
    align-items: center;
    width: 50px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.logo h3{
    color: white;
font-size: 25px;
font-weight: 700;
}
.logo .color{ 
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}







@media screen and (max-width:576px) {
        .gamer-container, .menu-container{
            flex-direction: column;
        }
        .gamer-logo{
            justify-content: center;
        }
        .menu-container{
            height: 200px;
            width: 100%;
            justify-content: space-around;
        }
        .banner-parent, .playing-game-parent{
            flex-direction: column-reverse;
        }
        .banner-img-container img{
            width: 100%;
        }
        .banner-img-container{
            width: 80%;
            margin: 0 auto;
        }
        .banner-description{
            width: 96%;
            margin: 25px auto 0px;
            background-size: cover;
            background-position:center;
        }
        .online-img-container{
            grid-template-columns: 1fr;
        }
        .online-child-container{
            margin: auto;
        }
        .second-paragraph{
            text-align: center;
        }
        .online-child-container img{
            width: 100%;
        }
        #second-img{
            width: 75%;
        }
        .playing-game-img .third-img{
            width: 50%;
            left: 210px;
            bottom: 95px;
            position: relative;
        }
        .anchor-container{
            width: 70%;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
            align-items:center;
        }
        .anchor-container a{
            font-size: 12px;
        }
        .icons{
            width: 30%;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
            align-items:center;
            font-size: 20px;
        }
        .another-anchor-container{
            width: 70%;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
            align-items:center;
        }
        .playing-game-description{
            width: 90%;
            margin: 0px auto;
            min-height: 300px;
        }
        .playing-game-description h3,p{
            text-align:center;
        }
        .playing-game-description .third-heading{
            font-size: 30px;
        } 
        .playing-game-description .funny-videos{
            font-size: 30px;
        }
        .playing-game-description .third-paragraph{
            font-size: 16px;
        }
        .playing-game-img {
            width: 80%;
        }
        .playing-game-img .first-img {
            width: 90%;
        }
        .playing-game-container{
            margin-top: 0px;
        }
        .game-img-container img{
            height: 45px;
            width: 45px;
        }
        .game-img-container{
            padding: 5px 3px 5px 0px;
            gap: 2px;
        }
        .fourth-heading{
            font-size: 10px;
        }
}


@media screen and (min-width:577px) and (max-width:992px) {
    .gamer-container, .menu-container{
        flex-direction: column;
    }
    .gamer-logo{
        justify-content: center;
    }
    .menu-container{
        height: 200px;
        width: 100%;
        justify-content: space-around;
    }
    .online-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .online-child-container{
        margin: auto;
    }
    .second-paragraph{
        text-align: center;
    }
    #second-img{
        padding-bottom: 16px;
    }
    #fourth-img{
        padding-top: 16px;
    }
    .banner-parent{
        flex-direction: column-reverse;
    }
    .banner-img-container img{
        width: 100%;
    }
    .banner-img-container{
        width: 80%;
        margin: 0 auto;
    }
    .banner-description{
        width: 96%;
        margin: 25px auto 0px;
        background-size: cover;
    }
    .playing-game-description{
        min-height: 400px;
    }
    .playing-game-description .third-heading{
        font-size: 30px;
    } 
    .playing-game-description .funny-videos{
        font-size: 30px;
    }
    .playing-game-description .third-paragraph{
        font-size: 16px;
    }
    .playing-game-img {
        width: 80%;
    }
    .playing-game-img .third-img {
        width: 35%;
    }
    .playing-game-img .third-img{
        width: 35%;
        left: 250px;
        bottom:115px;
        position: relative;
    }
    .game-img-container img{
        height: 50px;
        width: 50px;
    }
    .game-img-container{
        padding: 5px;
        gap: 5px;
    }
    .fourth-heading{
        font-size: 13px;
    }
    .anchor-container{
        width: 70%;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        align-items:center;
    }
    .anchor-container a{
        font-size: 12px;
    }
    .icons{
        width: 50%;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        align-items:center;
        font-size: 20px;
    }
    .another-anchor-container{
        width: 70%;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        align-items:center;
    }
}